/* Declare color scheme, type scaling system, and spacing system here. */
:root {
  /* Type scaling system ratio: Perfect fourth */
  /* Generated it from here: https://baseline.is/tools/type-scale-generator/ */
  --tx-size-xs: 0.64rem;
  --tx-size-sm: 0.8rem;
  --tx-size-md: 1rem;
  --tx-size-lg: 1.25rem;
  --tx-size-xl: 1.56rem;
  --tx-size-2xl: 1.95rem;
  --tx-size-3xl: 2.44rem;
  --tx-size-4xl: 3.05rem;
  --tx-size-5xl: 3.81rem;

  /* New clamp text system */
  --tx-size-xs: clamp(0.6076rem, 0.5944rem + 0.0588vw, 0.64rem);
  --tx-size-sm: clamp(0.7292rem, 0.7002rem + 0.1288vw, 0.8rem);
  --tx-size-md: clamp(0.875rem, 0.8239rem + 0.2273vw, 1rem);
  --tx-size-lg: clamp(1.05rem, 0.9682rem + 0.3636vw, 1.25rem);
  --tx-size-xl: clamp(1.26rem, 1.1363rem + 0.55vw, 1.5625rem);
  --tx-size-2xl: clamp(1.512rem, 1.3315rem + 0.802vw, 1.9531rem);
  --tx-size-3xl: clamp(1.8144rem, 1.5579rem + 1.14vw, 2.4414rem);

  /* Spacing system */
  /* Got it from here: https://utopia.fyi/space/calculator */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

  /* Flexoki color scheme */
  --color-tx: #100f0f;
  --color-tx-800: #403e3c;
  --color-tx-600: #6f6e69;
  --color-tx-300: #b7b5ac;
  --color-tx-ui: #e6e4d9;
  --color-tx-ui-2: #dad8ce;
  --color-tx-ui-3: #cecdc3;
  --color-bg: #fffcf0;
  --color-bg-2: #f2f0e5;
  --color-or: #bc5215;
  --color-cy: #24837b;

  /* Fonts */
  --font-heading: "Inter", Arial, Helvetica, sans-serif;

  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto;
  }
}

/* Let's override the browser's padding and margin styles. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Atkinson Hyperlegible Next", "Inter", "Trebuchet MS",
    "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-tx);
  font-size: var(--tx-size-md);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

h1,
.text-size-h1 {
  font-weight: 700;
  margin-top: 0;
  font-size: var(--tx-size-3xl);
}

h2,
.text-size-h2 {
  font-size: var(--tx-size-2xl);
}

h3,
.text-size-h3 {
  font-size: var(--tx-size-xl);
}

h4,
.text-size-h4 {
  font-size: var(--tx-size-lg);
}

h5,
.text-size-h5 {
  font-size: var(--tx-size-md);
  font-weight: 600;
}

.text-caption {
  font-size: var(--tx-size-sm);
}

small,
.text-small {
  font-size: var(--tx-size-xs);
}

li {
  list-style-type: none;
}

/* Main CSS */

/* Grid Layout */

.container {
  /* Main content of the body. */
  width: 65%;
  margin-inline: auto;

  /* Grid Settings */
  display: grid;
  grid-template-columns: minmax(0, 700px) 4fr;
  row-gap: var(--space-xl);
  column-gap: var(--space-xl);
}

.resume-nav,
.resume-footer {
  grid-column: 1 / -1;
}

.resume-sections {
  grid-column: 1 / 2;
}

@media (width < 1024px) {
  .container {
    width: 90%;
  }
}

@media (width < 768px) {
  .container {
    grid-template-columns: minmax(0, 700px);
  }

  .resume-sidebar {
    grid-row-start: 2;
  }
}

.section-header {
  display: flex;
  align-items: center;
}

.section-icon,
.section-title {
  display: block;
}

svg.section-icon {
  width: var(--tx-size-2xl);
}

/* Nav styles */

.resume-nav {
  display: flex;
  align-items: center;

  padding: var(--space-2xs) var(--space-m);
  background-color: var(--color-bg-2);
  border-bottom: 3px solid var(--color-tx-ui);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  font-family: var(--font-heading);
  font-size: var(--tx-size-lg);
}

.nav-title {
  flex-grow: 2;
  /* font-size: var(--tx-size-l); */
}

.nav-title span,
.nav-links a {
  color: var(--color-tx-600);
}

.nav-links a {
  text-decoration: none;
  /* font-size: var(--tx-size-l); */
}

.nav-links a:hover {
  color: var(--color-cy);
  text-decoration: underline dotted var(--color-cy) 2px;
}

.nav-links > ul {
  display: flex;
  gap: var(--space-m);
}

/* Sidebar Styles */
.resume-sidebar {
  align-self: start;
  /* background-color: var(--color-bg-2);
  border-radius: var(--tx-size-xl);
  border-bottom: 3px solid var(--color-tx-ui); */

  position: sticky;
  top: var(--space-m);

  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  align-items: center;
  padding: var(--space-l);
}

@media (width < 768px) {
  .resume-sidebar {
    position: static;
    padding: var(--space-s);
  }
}

.resume-sidebar img {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;

  border-radius: 50%;
  border: 3px solid var(--color-tx-300);
}

.resume-sidebar .author-name {
  font-size: var(--tx-size-xl);
  text-align: center;
}

.resume-sidebar .author-subtitle {
  text-align: center;
  line-height: var(--space-xs);
  color: var(--color-tx-800);

  border-bottom: 3px dotted var(--color-tx-ui);
  padding-bottom: var(--space-m);
}

.resume-sidebar .contact-list {
  display: flex;
  gap: var(--space-s);
}

.contact-list li {
  border: 3px solid var(--color-tx-ui);
  border-radius: var(--tx-size-xs);
  padding: var(--space-2xs);
  cursor: pointer;

  transition: border 100ms;
}

.contact-list svg {
  transition: stroke-width 250ms;
}

.contact-list li:hover {
  border: 3px solid var(--color-tx-ui-2);
}

.contact-list li:hover svg {
  stroke-width: 2;
}

.contact-list .contact-icons {
  width: var(--tx-size-3xl);
}

/* Resume section styles */

main.resume-sections {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-3xl);
}

.section-icon {
  margin-right: var(--space-s);
}

.resume-sections h2 {
  margin-bottom: var(--space-l);
  border-bottom: 3px dotted var(--color-tx-ui-2);
  transition: border 250ms;
}

main section:hover h2 {
  border-bottom: 3px dotted var(--color-tx-600);
}

.experience-list,
.education-list,
.certification-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-m);
  font-size: var(--tx-size-lg);
  color: var(--color-tx-800);
}

.certification-list {
  row-gap: var(--space-s);
}

.education-item,
.experience-item {
  container-type: inline-size;
  container-name: section-item-headers;
}

.experience-header,
.education-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  margin-bottom: var(--space-xs);
}

.education-location a,
.experience-location a {
  color: var(--color-tx-600);
  text-decoration: underline solid 1px;
}

.certification-title a {
  color: inherit;
  text-decoration: underline dotted 2px var(--color-tx-ui-3);
  transition: color 250ms, text-decoration-color 250ms;
}

.education-location a:hover,
.experience-location a:hover,
.certification-title a:hover {
  color: var(--color-cy);
  text-decoration-color: var(--color-cy);
}

@container section-item-headers (max-width: 40ch) {
  .education-header,
  .experience-header {
    grid-template-columns: 1fr;
  }
}

.certification-item {
  container-type: inline-size;
  container-name: certification-item;
}

.certification-header {
  display: flex;
  justify-content: space-between;
  font-family: var(--font-heading);
}

@container certification-item (max-width: 40ch) {
  .certification-header {
    flex-direction: column;
  }
}

.experience-title,
.education-title,
.certification-title {
  font-weight: 600;
}

.experience-desc,
.education-desc {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-s);

  /* Align the bullet points */
  padding-left: var(--space-s);
}

.experience-desc li,
.education-desc li {
  list-style-type: circle;
}

.experience-desc li::marker,
.education-desc li::marker,
.certification-list li::marker {
  font-size: var(--tx-size-xl);
}

/* Footer */

footer.resume-footer {
  text-align: center;
}

.display-none {
  display: none !important;
}

/* Tech skill styles */

.skill-list {
  display: flex;
  column-gap: 20px;
}

.tech-skill-group-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: var(--space-s);
  column-gap: var(--space-m);
}

#skill-group-webdev {
  grid-column: 1 / -1;
}

.tech-skill-group {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  /* align-items: center; */

  /* background-color: var(--color-bg-2); */
  border: 2px solid var(--color-tx-ui);
  border-radius: 20px;

  transition: border 250ms;
}

.tech-skill-group-name {
  font-family: var(--font-heading);
  color: var(--color-tx-800);
  font-size: var(--tx-size-xl);
  text-align: center;
  padding: var(--space-xs);
  border-bottom: 2px dotted var(--color-tx-ui);
  transition: border 250ms;
}

.tech-skill-group:hover {
  border: 2px solid var(--color-tx-ui-3);
}

.tech-skill-group:hover .tech-skill-group-name {
  border-bottom: 2px dotted var(--color-tx-ui-3);
}

.tech-skill-group-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: var(--space-m);
  padding: var(--space-m);
}

.tech-skill-item {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xs);

  align-items: center;
}

.tech-skill-icon {
  width: var(--tx-size-3xl);
}
